<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.database.MessageMapper">
	<insert id="insertMessage" parameterType="MessageDTO">
		insert into p_message
		values(num_message.nextval, #{e_sender}, #{e_recipient}, #{e_content},
		sysdate)
	</insert>
	<select id="detailMessage" resultType="MessageDTO">
		select * 
		from p_message
		where e_recipient=#{e_recipient} 
		order by e_date
	</select>
	<delete id="deleteMessage" parameterType="Integer">
		delete from p_message where e_num=#{e_num}
	</delete>
	<delete id="deleteAll" parameterType="String">
		delete from p_message where e_recipient=#{e_sender}
	</delete>
</mapper>